body  {

	background-image: url(../images/WorldMap2.jpg);
	background-size: cover;
	background-repeat: none;
	height: 100%;
	font-family: 'Hind', sans-serif;
}


.top-buffer { 

	margin-top: 10px; 
}


.bottom-buffer { 

	margin-bottom: 10px; 
}


#timer {

	border-width: 3px;
	border-style: groove;
	border-radius: 25px;
	border-color: #B0C4DE;
	background-color: azure;

}

#timer p {

	text-align: center;

	box-sizing: border-box;

	color: rgb(51, 51, 51);

	display: block;
	
	font-size: 30px;
	
	line-height: 45px;
}


#askQuestion {

	box-sizing: border-box;
	
	color: rgb(51, 51, 51);

	display: block;

	margin-left: 0.5%;
	
	font-size: 40px;
	
	line-height: 60px;
}


#slot1,
#slot2,
#slot3,
#slot4 	{	

	box-sizing: border-box;
	
	color: rgb(51, 51, 51);

	display: block;

	margin-left: 1%;

	font-size: 30px;

	font-weight: 300;
	
	line-height: 60px;

	border-width: 3px;

	border-style: groove;

	border-radius: 25px;

	border-color: #B0C4DE;
	
	background-color: azure;

}

#winlossMessage,
#winlossCounter {	

	box-sizing: border-box;
	
	color: rgb(51, 51, 51);

	display: block;

	margin-left: 1%;

	font-size: 30px;

	font-weight: 300;
	
	line-height: 60px;
}



